<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Application Error</h1>
  <p>An error has occured as follows:</p>
  <p><%=errorMessage%>></p>
  <br>
  <a href="/">Click to return to Home Page</a>
</body>

</html>