<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    form {
      width: 500px;
      overflow: hidden;
      background-color: yellow;
    }

    input {
      width: 100%;
    }

    span {
      display: block;
      overflow: hidden;
      padding-right: 10px;
    }

    button {
      float: right;
    }
  </style>
</head>

<body>
  <form method="post">
    <button>Search</button>
    <span><input type="text" title="Search" /></span>
  </form>
</body>

</html>